{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "transform-imports",
      {
        "vodo-react-components-test": {
          "transform": "vodo-react-components-test/dist/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
